@charset "utf-8";

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

/* open-sans-regular - cyrillic_latin_cyrillic-ext_latin-ext */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/open-sans-v17-cyrillic_latin_cyrillic-ext_latin-ext-regular.woff2') format('woff2');
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* open-sans-600 - cyrillic_latin_cyrillic-ext_latin-ext */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../fonts/open-sans-v17-cyrillic_latin_cyrillic-ext_latin-ext-600.woff2') format('woff2');
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* open-sans-700 - cyrillic_latin_cyrillic-ext_latin-ext */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-v17-cyrillic_latin_cyrillic-ext_latin-ext-700.woff2') format('woff2');
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* open-sans-800 - cyrillic_latin_cyrillic-ext_latin-ext */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/open-sans-v17-cyrillic_latin_cyrillic-ext_latin-ext-800.woff2') format('woff2');
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

html,
body {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
  font-size: 1.8rem;
  line-height: 1.5;
  background: #fff;
  color: #303030;
}

.content {
  flex: 1 0 auto;
}

.content__main {
  padding-bottom: 10.2rem;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
}

button,
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="button"],
input[type="submit"] textarea {
  font: inherit;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */
}

button:focus::-webkit-input-placeholder,
input[type="search"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
input[type="text"]:focus::-webkit-input-placeholder,
input[type="button"]:focus::-webkit-input-placeholder,
input[type="submit"] textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

button:focus:-moz-placeholder,
input[type="search"]:focus:-moz-placeholder,
input[type="tel"]:focus:-moz-placeholder,
input[type="text"]:focus:-moz-placeholder,
input[type="button"]:focus:-moz-placeholder,
input[type="submit"] textarea:focus:-moz-placeholder {
  color: transparent;
}

button:focus::-moz-placeholder,
input[type="search"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
input[type="text"]:focus::-moz-placeholder,
input[type="button"]:focus::-moz-placeholder,
input[type="submit"] textarea:focus::-moz-placeholder {
  color: transparent;
}

button:focus:-ms-input-placeholder,
input[type="search"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder,
input[type="text"]:focus:-ms-input-placeholder,
input[type="button"]:focus:-ms-input-placeholder,
input[type="submit"] textarea:focus:-ms-input-placeholder {
  color: transparent;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #9C9C9C;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9C9C9C;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9C9C9C;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #9C9C9C;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.js-analog {
  background: #FFF5EC;
}

.is-hidden {
  display: none !important;
}

.is-show {
  visibility: visible !important;
  opacity: 1 !important;
}

.is-rotate {
  transform: rotate(-180deg);
}

.is-no-available {
  display: inline-block;
  text-align: center;
}

.easyzoom-flyout img {
  max-width: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.external-link {
  display: inline-block;
  font-size: 1.8rem;
  border-bottom: 1px solid rgba(37, 96, 185, 0.2);
  color: #2560B9;
}

h2,
.h2 {
  font-size: 3.4rem;
}

h3,
.h3 {
  font-size: 2.6rem;
  font-family: Arial;
  font-weight: 700;
  color: #FFFFFF;
}

h4,
.h4 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #545252;
}

h5,
.h5 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #FFFFFF;
}

h6,
.h6 {
  font-size: 13px;
  font-weight: 600;
  color: #545252;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.text {
  line-height: 2.5rem;
}

.additional-text {
  font-size: 1.6rem;
  line-height: 2.1rem;
  max-width: 1058px;
}

body.compensate-for-scrollbar {
  margin: 0 auto;
}

/*
 * 1. Header
**/

.header {
  border-bottom: 1px solid #E6E6E6;
}

.header-nav {
  width: 100%;
  background: linear-gradient(90deg, #126CA5 0%, #3EB2E2 100%);
  color: #FFFFFF;
}

.header-nav__inner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 54px;
}

.header-nav-info,
.header-nav-catalog,
.header-nav-enter {
  cursor: pointer;
  color: #ffffff;
}

.header-nav-info,
.header-nav-catalog,
.header-nav-personal-info {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
}

.first {
  margin-left: 0;
}

.last {
  margin-right: 2rem;
}

.header-nav-personal-info__avatar {
  position: relative;
}

.header-nav-personal-info__avatar::before {
  content: 'AC';
  display: block;
  text-align: center;
  line-height: 28px;
  width: 28px;
  height: 28px;
  background: #EE7F22;
  color: #ffffff;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  font-weight: bold;
  font-size: 12px;
}

.scheme-table__dropdown-inner {
  display: inline-block;
  line-height: 33px;
}

.triangle {
  position: absolute;
  right: -15px;
  top: 50%;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5.5px 0px 5.5px;
  border-color: #FFFFFF transparent transparent transparent;
  transition: all 0.125s ease-in-out;
}

.triangle_sm {
  position: relative;
  right: -2px;
  top: 0;
  display: inline-block !important;
  border-width: 4px 3px 0px 3px;
  border-color: #EE7F22 transparent transparent transparent;
}

.header-nav-info,
.header-nav-catalog {
  position: relative;
}

.header-nav-info__text,
.header-nav-catalog__text {
  padding-left: 9px;
}

.header-nav-catalog__text {
  padding-left: 9px;
}

.header-nav__header-nav-personal-info {
  margin-left: auto;
}

.header-nav-personal-info__avatar {
  margin-right: 2.5rem;
}

.header-nav-personal-info__fav {
  position: relative;
  top: 2px;
  margin-right: 25px;
  font-size: 10px;
}

.header-nav-personal-info__cart {
  position: relative;
  top: 2px;
  margin-right: 2.5rem;
  font-size: 10px;
}

.header-nav-personal-info__cart_last {
  margin-right: 0rem;
}

.header-nav-enter {
  margin-left: auto;
  padding: 0.4rem 2.4rem 0.6rem;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}

.is-no-login-icons {
  margin-left: 3.4rem;
}

.header-nav-personal-info__fav-counter,
.header-nav-personal-info__cart-counter {
  position: absolute;
  top: -3px;
  left: 20px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #EE7F22;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
}

.header-nav-personal-info__cart-counter {
  left: 23px;
}

.icon__info {
  width: 20px;
  height: 20px;
}

.icon__burger-btn {
  width: 20px;
  height: 14px;
}

.icon__favorite-btn {
  width: 28px;
  height: 28px;
}

.icon__cart {
  width: 28px;
  height: 28px;
}

.icon_theme_grey path {
  fill: #555555;
}

.wrapper__header-sub {
  margin: 2.3rem 0;
}

.header-sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-sub__logo {
  padding-right: 4.3rem;
}

.dropdown-block {
  position: absolute;
  left: 0;
  top: 44px;
  padding: 1rem 2.2rem 1.4rem 1.4rem;
  visibility: hidden;
  opacity: 0;
  background: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(105, 105, 105, 0.25);
  z-index: 2;
  transition: all 0.125s ease-in-out;
}

.dropdown-block__links {
  display: block;
  font-size: 1.6rem;
  color: #6D6D6D;
}

.dropdown-block__links:not(:last-child) {
  margin-bottom: 0.8rem;
}

.logo {
  max-width: 194px;
}

.logo__text {
  color: #0A5F9A;
  font-size: 3.2rem;
  font-weight: bold;
  white-space: nowrap;
}

.search {
  flex: 1 1 65%;
}

.search__form {
  position: relative;
}

.search__input {
  padding: 0.9rem 0 1.2rem 2.1rem;
  width: 100%;
  height: 38px;
  border: 1px solid #46BFED;
  border-right: transparent;
  border-radius: 2px;
  color: #9C9C9C;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 92px;
  height: 38px;
  background: #5BBCE0;
  border-radius: 2px;
}

.search-header {
  font-size: 1.4rem;
}

/* 
 * 2. Main
**/

.main__nav-main {
  margin: 2rem 0;
}

.main__slider {
  margin-bottom: 2rem;
}

.main__search-section {
  margin-bottom: 5.4rem;
}

.main__tabs-section {
  margin-top: 8.7rem;
  border-top: 2px solid #3496C5;
}

.nav-main {
  display: flex;
  font-size: 1.6rem;
}

.nav-main-list {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-main-list__item {
  padding: 0.82em 1em 0.95em;
  display: inline-block;
  white-space: nowrap;
}

.nav-main-list li {
  display: inline-block;
  flex: 1 1 auto;
  height: auto;
  border-right: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  text-align: center;
  transition: 0.15s ease-in-out;
}

.nav-main-list li:hover {
  background: #0A5F9A;
}

.nav-main-list li:hover a {
  color: #FFFFFF;
}

.nav-main-list li:first-child {
  border-left: 1px solid #D9D9D9;
  border-radius: 20px 0 0 20px;
}

.nav-main-list li:last-child {
  border-radius: 0 20px 20px 0;
}

.slider-main {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.slider-main__image {
  word-wrap: break-word;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box;
  font-size: 0;
}

.slider-main__image_left {
  flex: 1 1 69.2%;
  max-width: 69.2%;
}

.slider-main__image_right {
  flex: 1 1 30.8%;
  max-width: 30.8%;
}

.search-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  flex-wrap: nowrap;
  font-size: 1rem;
  white-space: nowrap;
}

.search-section__left {
  flex: 0 1 57%;
  max-width: 647px;
}

.search-catalog,
.search-scheme {
  display: flex;
  min-height: 123px;
  background: linear-gradient(90deg, #FFFFFF 31.99%, #EEF8FF 100%);
  border: 1px solid #EFEFEF;
  box-shadow: 2px 2px 4px rgba(202, 202, 202, 0.25);
  border-radius: 3px;
}

.search-product {
  padding: 2em 5.7em 2.8em 5.7em;
  flex: 0 1 43%;
  max-width: 477px;
  height: 100%;
  background: linear-gradient(90deg, #FBFDFF 0%, #EEF8FF 100%);
  border: 1px solid #EFEFEF;
  box-shadow: 2px 2px 4px rgba(162, 162, 162, 0.25);
  border-radius: 3px;
}

.search-catalog {
  margin-bottom: 1.5rem;
}

.search-catalog__img {
  font-size: 0;
}

.search-scheme__img {
  font-size: 0;
}

.search-section__left,
.search-product {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  min-height: 264px;
}

.search-catalog-form {
  margin: 0;
}

.search-container {
  width: 58.99%;
}

.search-container__title {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.6em;
}

.search-container__category-links {
  margin: 0.3em 3px 3px 2px;
}

.search-catalog-form {
  width: 100%;
}

.search-catalog-form .search__input,
.search-catalog-form .search__button {
  height: 29px;
}

.search-catalog-form .search__input {
  padding: 0.7rem 6.5em 0.5rem 1.7rem;
}

.search-catalog-form .search__button {
  width: 54px;
}

.search-catalog-form .search__button img {
  width: 13px;
}

.category-links {
  font-size: 10px;
}

.category-links__link {
  border-bottom: 1px solid;
  color: #46BFED;
  margin-right: 1.8em;
}

.search-product .search-container {
  width: 100%;
}

.search-product .search-catalog-form {
  width: 100%;
}

.category-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  white-space: normal;
}

.category-items__category-item {
  margin-top: 1.5em;
}

.category-item {
  flex: 0 1 25.1%;
  max-width: 25.1%;
}

.category-item__text {
  display: block;
  color: #46BFED;
  font-size: 10px;
}

.category-item__link {
  display: block;
  height: 100%;
}

.category-item__image {
  width: auto;
}

.category-item:last-child span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.search-catalog__search-container,
.search-scheme__search-container {
  padding-top: 2rem;
  padding-left: 4.1rem;
  padding-right: 1rem;
}

.description-section__advantages-container {
  margin-bottom: 3.5rem;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
  margin-left: -2.1rem;
  margin-right: -2.1rem;
}

.advantages-container__h2 {
  margin-bottom: 1.3rem;
}

.advantages-item {
  margin: 2.1rem;
  padding: 1.7em 1em 1.5em;
  text-align: center;
  box-sizing: border-box;
  flex: 0 1 16.44%;
  background: #5EBCEA;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  transition: 0.15s ease-in-out;
}

.advantages-item__text {
  display: inline-block;
  padding-top: 0.9rem;
  color: #FFFFFF;
  transition: 0.15s ease-in-out;
}

.advantages-item__img svg path {
  transition: 0.15s ease-in-out;
}

.advantages-item:hover {
  background: #FFFFFF;
}

.advantages-item:hover .advantages-item__text {
  color: #565656;
}

.advantages-item:hover .advantages-item__img svg path {
  fill: #565656;
}

.company-logo-container__h2 {
  margin-bottom: 3.4rem;
}

.company-logo-container__inner {
  display: flex;
  margin-left: -1.7rem;
  margin-right: -1.7rem;
  padding-bottom: 7.3rem;
  justify-content: space-between;
  align-items: flex-start;
}

.company-logo__img {
  box-sizing: border-box;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.company-logo__img_pit {
  width: 193px;
  height: 52px;
}

.company-logo__img_diold {
  width: 194px;
  height: 52px;
}

.company-logo__img_ermak {
  width: 197px;
  height: 52px;
}

.company-logo__img_interskol {
  width: 240px;
  height: 65px;
}

.company-logo__img_resanta {
  width: 182px;
  height: 48px;
  align-self: center;
}

.about-section {
  background: #F7F7F7;
}

.about-section__about-container {
  padding: 5.4rem 0 8.7rem;
}

.about-container {
  font-size: 0;
}

.about-container__h2 {
  margin-bottom: 2.9rem;
  font-size: 3.8rem;
}

.about-container__img {
  display: inline-block;
  font-size: 0;
}

.about-container__img span {
  margin-top: 1rem;
  display: block;
  font-size: 1.8rem;
}

.about-container__inner {
  display: flex;
  margin: 3.4rem 0 3.9rem;
}

.text span {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.about-container__img {
  margin-right: 1.4rem;
}

.map {
  max-width: 1140px;
  height: 431px;
}

.map-section__h2 {
  margin-top: 5.4rem;
}

.map-section__h3 {
  padding-top: 1.1rem;
}

.map-section__map {
  margin-top: 3.4rem;
  font-size: 0;
}

.map-section__subscribe-form {
  margin-top: 1.9rem;
}

.subscribe-block {
  padding: 3.9rem 1.5rem 5.4rem;
  text-align: center;
  background: #20A7DD;
  color: #FFFFFF;
}

.subscribe-block__img {
  margin: 0 auto;
  width: 62px;
  height: 61px;
}

.subscribe-block__text {
  display: inline-block;
  margin-top: 3.9rem;
  font-size: 2rem;
}

.subscribe-form__input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
}

.subscribe-form__input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
}

.subscribe-form__input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
}

.subscribe-form__input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
}

.subscribe-form {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 678px;
  font-size: 2rem;
}

.subscribe-form__input {
  padding: 1.2rem 31rem 1.1rem 2.1rem;
  width: 100%;
  background: #90D3EE;
  color: #ffffff;
  border: none;
  border-radius: 2px 0 0 2px;
}

.subscribe-form__button {
  position: absolute;
  padding: 0 8.7rem;
  top: 0;
  right: 0;
  height: 100%;
  background: #EE7F22;
  border-radius: 0px 2px 2px 0px;
  transition: 0.15s ease-in-out;
}

.subscribe-form__button:hover {
  background: #d47321;
}

.body__footer {
  margin-top: -1px;
}

/*
 * 3. Footer
**/

.footer {
  flex: 0 0 auto;
  padding: 2.4rem 0 10.4rem;
  border-top: 1px solid rgba(187, 187, 187, 0.5);
  font-size: 1.6rem;
}

.footer__inner {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
  display: flex;
  justify-content: space-between;
}

.footer-nav,
.phone-wholesale,
.phone-accounting,
.phone-sale,
.copyright {
  box-sizing: border-box;
}

.footer__footer-nav,
.footer__phone-wholesale,
.footer__phone-accounting,
.footer__phone-sale,
.footer__copyright {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 2rem;
}

.phone-wholesale a,
.phone-accounting a,
.phone-sale a,
.copyright a {
  display: block;
}

.footer-nav {
  padding-right: 20px;
  max-width: 110px;
}

.footer-nav-list__link,
.phone-wholesale__link,
.phone-accounting__link,
.phone-sale__link {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #434343;
}

.footer-nav-list__link_last {
  margin-bottom: 0;
}

.footer-nav-list__item {
  border-bottom: 1px solid rgba(67, 67, 67, 0.3);
  white-space: nowrap;
}

.phone-wholesale {
  max-width: 156px;
  color: #434343;
}

.phone-wholesale__link {
  white-space: nowrap;
}

.phone-wholesale span {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.phone-accounting {
  max-width: 138px;
  color: #434343;
}

.phone-accounting__link {
  white-space: nowrap;
}

.phone-accounting span {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.phone-sale {
  max-width: 138px;
  color: #434343;
}

.phone-sale__link {
  white-space: nowrap;
}

.phone-sale span {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.copyright {
  margin-left: auto;
  max-width: 203px;
  color: #434343;
}

.copyright span {
  display: inline-block;
  margin-bottom: 2.2rem;
}

/* 
 * 3. Product page
**/

.product-section__breadcrumb {
  margin: 0.8rem 0 1.7rem;
}

.breadcrumb__item:not(:last-child):after {
  content: '\2192';
  display: inline-block;
  margin: 0 1rem;
}

.breadcrumb__item {
  color: #545252;
}

/* стили основного контейнера слайдера */

.slider {
  overflow: hidden;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* стили для обёртки, в которой заключены слайды */

.slider__wrapper {
  overflow: hidden;
}

/* стили для контейнера слайдов */

.slider__items {
  display: flex;
  transition: transform 0.6s ease;
  font-size: 0;
  text-align: center;
}

/* стили для слайдов */

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

.slider__control:before {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  display: block;
  width: 20px;
  height: 20px;
}

.slider__control_prev:before {
  background: url(../images/icons/left-arrow.svg) no-repeat;
}

.slider__control_next:before {
  background: url(../images/icons/right-arrow.svg) no-repeat;
}

.product-block {
  display: flex;
  box-sizing: border-box;
}

.product-block__image {
  font-size: 0;
}

.product-block__item-link {
  display: inline-block;
  color: #545252;
}

.product-block__item-link:hover {
  border-bottom: 1px solid #B7B7B7;
}

.product-block__inner {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-block__stock {
  font-size: 1.6rem;
  color: #72B67D;
}

.product-block__title {
  display: none;
}

.product-block__inner:first-child {
  flex: 0 1 33.15789474%;
  max-width: 378px;
}

.product-block__inner:last-child {
  flex: 0 1 46.14%;
  max-width: 526px;
  margin-left: 1rem;
}

.product-block:not(:last-child) {
  border-bottom: 0.5px solid #C5C5C5;
}

.product-block-img {
  display: flex;
  flex: 1 1 auto;
  max-width: 512px;
}

.product-block-img__input:checked ~ .block-img {
  border: 1px solid #329FD1;
}

.block-img {
  display: block;
  border: 1px solid #E6E6E6;
}

.block-img_lg {
  position: relative;
  margin-right: 2.7rem;
  max-width: 357px;
}

.block-img_lg:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/icons/zoom-icon.png) no-repeat;
  width: 33px;
  height: 33px;
}

.block-img_sm {
  margin-bottom: 1.6rem;
  margin-right: 1.9rem;
  max-width: 104px;
}

.block-img_sm img {
  cursor: pointer;
  vertical-align: bottom;
}

.product-block-info {
  flex: 1 1 auto;
  max-width: 544px;
}

.product-block-info__text {
  display: inline-block;
  margin-bottom: 2.1rem;
  font-weight: 600;
  font-size: 3rem;
  color: #545252;
}

.price-block {
  display: flex;
  padding: 1.5rem 0 1.5rem 0.5rem;
  align-items: center;
}

.price-block__title {
  min-width: 72px;
  font-size: 2rem;
  color: #545252;
}

.price-block__cost {
  margin: 0 1.9rem;
  font-weight: 600;
  font-size: 2.6rem;
  color: #545252;
}

.price-block_underline {
  border-bottom: 0.5px solid #E1E1E1;
}

.counter {
  display: inline-flex;
  margin-left: auto;
  font-size: 20px;
}

.counter_md {
  margin-left: 0;
  font-size: 18px;
}

.counter_sm {
  margin-left: 0;
  font-size: 16px;
}

.product-price-container {
  flex: 0 1 61%;
  max-width: 321px;
}

.product-price-item {
  margin-left: auto;
  padding: 0.2em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price-item__inner {
  margin-right: 0.85rem;
  display: flex;
  align-items: center;
}

.product-price-item__price {
  font-size: 1.6rem;
  color: #000000;
}

.product-price-item__cost {
  margin-right: 1.7rem;
  color: #FD004B;
}

.input-quantity {
  width: 77px;
  height: 35px;
  text-align: center;
  color: #2B2B2B;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  border-left: none;
  border-right: none;
}

.input-quantity_md {
  width: 40px;
  height: 22px;
  font-size: 1.8rem;
}

.input-quantity_sm {
  width: 27px;
  height: 16px;
  font-size: 13px;
}

.button {
  position: relative;
  width: 44px;
  height: 37px;
  border: 1px solid #BDBDBD;
  background: #ffffff;
}

.button-minus {
  border-radius: 3px 0px 0px 3px;
}

.button-minus:before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
  content: '';
  display: block;
  width: 18px;
  height: 2px;
  background: #595959;
}

.button-minus_sm {
  border-radius: 2px 0px 0px 2px;
}

.button-plus {
  border-radius: 0px 3px 3px 0px;
}

.button-plus:before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
  content: '';
  width: 18px;
  height: 2px;
  display: block;
  background: #595959;
  border-radius: 1px;
}

.button-plus:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
  content: '';
  display: block;
  width: 18px;
  height: 2px;
  background: #595959;
  border-radius: 1px;
  transform: rotate(90deg);
}

.button-plus_sm {
  border-radius: 0px 2px 2px 0px;
}

.button_md {
  width: 23px;
  height: 24px;
}

.button_md:before {
  width: 10px;
  height: 1px;
}

.button_md:after {
  top: -1px;
  width: 10px;
  height: 1px;
}

.button_sm {
  width: 18px;
  height: 18px;
}

.button_sm:before {
  width: 10px;
  height: 1px;
}

.button_sm:after {
  width: 10px;
  height: 1px;
}

.product-block__image,
.product-block__item-link,
.product-price-item__price,
.product-price-item__cost .counter_sm {
  margin-left: 1rem;
  margin-right: 1rem;
}

.product-block__stock {
  margin-left: 2rem;
  margin-right: 2rem;
}

input[type=radio] {
  display: none;
}

.tabs {
  position: relative;
  display: flex;
}

.tab {
  display: none;
  width: 100%;
}

.tab__product-block {
  padding: 1.5rem 0;
  justify-content: space-between;
  align-items: center;
}

.tab__title {
  position: absolute;
  left: 0;
  padding: 1rem 4rem;
  display: inline-block;
  cursor: pointer;
  color: #717171;
  font-size: 2.2rem;
  font-weight: 600;
  border-top: 1px solid #DBDBDB;
  border-left: 1px solid #DBDBDB;
  border-right: 1px solid #DBDBDB;
  transform: translate(0, calc(-100% - 1.4px));
}

.tabs-button:checked + .tab__title {
  background: #3496C5;
  color: #FFFFFF;
  border-top: 1px solid #3496C5;
  border-left: 1px solid #3496C5;
  border-right: 1px solid #3496C5;
}

#tab1:checked ~ .tab_products {
  display: inline-block;
}

#tab2:checked ~ .tab_analogs {
  display: inline-block;
}

.tab_products {
  max-width: 212px;
}

.tab_products .product-block__item-link {
  margin: 1.7rem 0 1.2rem;
}

.is-next-tab {
  transform: translate(calc(100% + 2px + 1.3rem), calc(-100% - 1.4px));
}

/* 
 * 4. Scheme page
**/

.scheme-container {
  margin: 0 -6px;
  display: flex;
  flex-wrap: wrap;
}

.scheme-container__scheme {
  padding: 6px;
  box-sizing: border-box;
  flex: 1 1 51.58%;
  max-width: 51.58%;
}

.scheme-container__description {
  padding: 6px;
  box-sizing: border-box;
  flex: 1 1 48.42%;
  max-width: 48.42%;
}

.scheme-box__header {
  font-weight: 600;
  background: #3496C5;
  color: #FFFFFF;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.scheme-box__inner {
  position: relative;
  padding: 1.7rem 2.9rem 2.6rem 2.9rem;
  border: 1px solid #3496C5;
  background: #FBF8F8;
}

.scheme-box__img {
  font-size: 0;
  text-align: center;
}

.scheme-box__img img {
  box-shadow: 0px 4px 4px rgba(201, 201, 201, 0.25);
}

.scheme-table {
  box-sizing: border-box;
  font-size: 10px;
  color: #545252;
  border: 1px solid #F2F1F1;
  white-space: nowrap;
}

.scheme-table tr {
  border: 0.5px solid #E8E8E8;
}

.scheme-table tr:hover {
  background: #EAF9FF;
}

.scheme-table tr:hover .min-photo {
  opacity: 1;
}

.scheme-table td {
  height: 33px;
}

.scheme-table__header {
  height: 41px;
  background: #F7F7F7;
  border: 1px solid #F2F1F1;
}

.scheme-table__header-number {
  padding: 0 1.9rem 0 1.4rem;
}

.scheme-table__header-article {
  padding-right: 1.4rem;
}

.scheme-table__header-name {
  padding-right: 1.4rem;
}

.scheme-table__header-storage {
  padding-left: 0.35rem;
  padding-right: 0.35rem;
}

.scheme-table__header-price {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}

.scheme-table__number {
  padding: 0 1.9rem 0 1.4rem;
  font-size: 11px;
}

.scheme-table__article {
  padding-right: 1.4rem;
}

.scheme-table__name {
  padding-right: 1rem;
  max-width: 136px;
}

.scheme-table__dropdown {
  min-width: 50px;
}

.scheme-table__dropdown-link {
  color: #EE7F22;
}

.scheme-table__storage {
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  font-size: 11px;
  text-align: center;
}

.scheme-table__price {
  font-size: 11px;
  text-align: center;
}

.scheme-table__price-value {
  color: rgba(84, 82, 82, 0.7);
}

.scheme-table__price-value_blue {
  color: #1981B3;
  font-weight: 600;
}

.scheme-table__counter {
  padding-right: 1.7rem;
  padding-left: 1.2rem;
}

.text-section__additional-text {
  margin-top: 2.9rem;
}

.min-photo {
  padding-right: 1rem;
  display: inline-block;
  position: relative;
  top: 3px;
  opacity: 0;
  cursor: pointer;
}

.scheme-table__inner {
  overflow: hidden;
}

.pop-up {
  position: absolute;
  transform: translate(-94%, 6px);
  visibility: hidden;
  opacity: 0;
  max-width: 206px;
  max-height: 132px;
  background: #ffffff;
  border-radius: 3px;
  z-index: 2;
  transition: all 0.125s;
}

.pop-up:before {
  bottom: 100%;
  left: 94%;
  content: '';
  position: absolute;
  right: -15px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3.5px 6px 3.5px;
  border-color: transparent transparent #FFFFFF transparent;
}

.pop-up__img {
  max-width: none;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(77, 77, 77, 0.25);
}

.arrow {
  position: absolute;
  top: 0;
  cursor: pointer;
  display: block;
  width: 2.9rem;
  height: 100%;
  text-align: center;
}

.arrow svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.photo-icon {
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 0 \0) {
  img {
    width: 100%;
  }

  .product-block__inner:last-child {
    flex: 0 1 54.14%;
  }

  .tab__title {
    transform: translate(0, -103%);
  }

  .is-next-tab {
    transform: translate(109%, -103%);
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 8.89px;
    font-size: calc(16px / 1.8);
  }
}

@media screen and (max-width: 1200px) {
  h6,
  .h6 {
    font-size: 16px;
  }

  .additional-text {
    line-height: inherit;
  }

  .triangle_sm {
    top: -2px;
  }

  .counter_sm {
    margin-left: 26%;
    font-size: 16px;
  }

  .input-quantity_sm {
    width: 35px;
    height: 24px;
  }

  .button_sm {
    width: 26px;
    height: 26px;
  }

  .button_sm:before {
    width: 13px;
  }

  .button_sm:after {
    width: 13px;
  }

  .scheme-container__scheme {
    flex: 1 1 65%;
    max-width: 65%;
    margin: 0 auto;
  }

  .scheme-container__description {
    flex: 1 1 80%;
    max-width: 80%;
    margin: 0 auto;
    overflow: scroll;
  }

  .scheme-table {
    width: 100%;
    font-size: 14px;
  }

  .scheme-table td {
    height: 44px;
  }

  .scheme-table__header {
    height: 50px;
  }

  .scheme-table__number {
    font-size: 14px;
  }

  .scheme-table__storage {
    font-size: 14px;
  }

  .scheme-table__price {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 8.34px;
    font-size: calc(15px / 1.8);
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav-main-list {
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }

  .nav-main-list li:first-child {
    flex: 1 1 36%;
    border-radius: 20px;
  }

  .nav-main-list li:last-child {
    border-radius: 20px;
  }

  .nav-main-list li {
    margin: 0.5rem;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
  }

  .search-section__left {
    align-self: center;
    min-height: auto;
  }

  .search-catalog,
  .search-scheme {
    justify-content: space-between;
    min-height: auto;
  }

  .search-product {
    padding: 2em 1rem 6em 1rem;
    min-height: auto;
  }

  .category-links__link {
    display: inline-block;
    margin: 0.5rem 1.8em 0.5em 0;
  }

  .category-links {
    display: flex;
    flex-wrap: wrap;
  }

  .search-catalog__search-container,
  .search-scheme__search-container {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .advantages-container {
    margin-left: -1.1rem;
    margin-right: -1.1rem;
    flex-wrap: wrap;
  }

  .advantages-item {
    margin: 1.1rem;
    flex: 1 1 31%;
  }

  .company-logo-container__inner {
    flex-wrap: wrap;
  }

  .company-logo__img_pit {
    width: 128.66666667px;
    height: 34.66666667px;
  }

  .company-logo__img_diold {
    width: 129.33333333px;
    height: 34.66666667px;
  }

  .company-logo__img_ermak {
    width: 131.33333333px;
    height: 34.66666667px;
  }

  .company-logo__img_interskol {
    width: 160px;
    height: 43.33333333px;
  }

  .company-logo__img_resanta {
    width: 121.33333333px;
    height: 32px;
  }

  .footer__inner {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .footer__footer-nav,
  .footer__phone-wholesale,
  .footer__phone-accounting,
  .footer__phone-sale,
  .footer__copyright {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .product-block__inner:first-child {
    flex: 0 1 53.86%;
    justify-content: flex-start;
  }

  .counter_sm {
    font-size: 16px;
  }

  .counter-price-block__button {
    width: 30px;
    height: 30px;
  }

  .counter-price-block__input-quantity {
    width: 50px;
    height: 28px;
  }

  .product-price-item {
    justify-content: flex-end;
  }

  .scheme-container__scheme {
    flex: 1 1 85%;
    max-width: 85%;
    margin: 0 auto;
  }

  .scheme-container__description {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .min-photo {
    opacity: 1;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 7.78px;
    font-size: calc(14px / 1.8);
  }
}

@media screen and (max-width: 720px) {
  h6,
  .h6 {
    font-size: 14px;
  }

  .search-section__left {
    align-self: auto;
    font-size: 1.25em;
  }

  .search-section {
    flex-wrap: wrap;
  }

  .search-product {
    padding: 2em 12rem 6em 12rem;
    font-size: 1.2em;
  }

  .search-section__left,
  .search-product {
    flex: 1 1 100%;
    max-width: none;
  }

  .search-container {
    width: 70%;
  }

  .search-section__search-product {
    margin-top: 1.5rem;
  }

  .map {
    height: 350px;
  }

  .footer__inner {
    flex-wrap: wrap;
  }

  .footer-nav {
    max-width: 81px;
  }

  .phone-wholesale {
    max-width: none;
  }

  .phone-accounting {
    max-width: none;
  }

  .phone-sale {
    max-width: none;
  }

  .copyright {
    margin-left: 1.5rem;
    margin-top: 2.5rem;
    max-width: none;
    flex: 1 1 100%;
  }

  .product-block-info__text {
    font-size: 2.2rem;
  }

  .product-block-info .h4 {
    font-size: 2rem;
  }

  .price-block__title {
    min-width: 56px;
  }

  .counter_sm {
    margin-left: 0;
  }

  .scheme-container__scheme {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .scheme-table__storage {
    font-size: 12px;
  }

  .scheme-table__price {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 6.67px;
    font-size: calc(12px / 1.8);
  }
}

@media screen and (max-width: 576px) {
  .triangle {
    top: 45%;
  }

  .triangle_sm {
    top: 0px;
  }

  .is-no-login-icons {
    order: 1;
    margin-left: auto;
  }

  .header-sub__search-header {
    margin-top: 1.5rem;
  }

  .header-sub {
    flex-wrap: wrap;
    height: 80px;
  }

  .logo {
    order: 0;
  }

  .search {
    order: 3;
  }

  .search-catalog img,
  .search-scheme img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .search__input {
    font-size: 10px !important;
  }

  .about-container__img {
    margin-right: 0;
  }

  .about-container__inner {
    display: block;
    text-align: center;
  }

  .about-container__img:last-child {
    margin-top: 3.9rem;
  }

  .map {
    height: 280px;
  }

  .product-section__product-block {
    flex-wrap: wrap;
  }

  .product-block__product-block-img {
    margin: 0 auto;
  }

  .product-block__product-block-info {
    margin-top: 2.1rem;
  }

  .product-block__title {
    display: block;
  }

  .product-block__inner:first-child {
    flex: 0 1 100%;
  }

  .product-block__inner:last-child {
    flex: 0 1 100%;
  }

  .block-img_lg {
    margin-right: 0;
  }

  .product-block-info__title {
    display: none;
  }

  .product-price-item__cost {
    margin-left: 1.7rem;
  }

  .product-block__stock {
    font-size: 12px;
    margin-top: 1rem;
    margin-bottom: auto;
  }

  .tab__product-block {
    flex-wrap: wrap;
  }

  .scheme-table {
    font-size: 12px;
  }

  .scheme-table tr {
    display: flex;
    flex-wrap: wrap;
  }

  .scheme-table tr:first-child {
    flex-wrap: nowrap;
  }

  .scheme-table td {
    box-sizing: border-box;
  }

  .scheme-table th:nth-child(3) {
    flex: 1 1 60%;
    max-width: 60%;
  }

  .scheme-table th:nth-child(5) {
    flex: 1 1 auto;
  }

  .scheme-table th:nth-child(6) {
    flex: 1 1 auto;
  }

  .scheme-table__header-number {
    padding: 0 1.4rem;
  }

  .scheme-table__header-storage {
    padding-left: 0;
    padding-right: 1.4rem;
    text-align: right;
  }

  .scheme-table__header-price {
    padding-left: 0;
    padding-right: 1.4rem;
    text-align: right;
  }

  .scheme-table__number {
    font-size: 12px;
  }

  .scheme-table__counter {
    padding-right: 1.4rem;
  }

  .scheme-table__number {
    flex: 0 1 auto;
    padding: 0 1.4rem;
  }

  .scheme-table__article {
    flex: 0 1 10.5rem;
    max-width: 10.5rem;
  }

  .scheme-table__name {
    order: 1;
    flex: 1 1 33%;
    max-width: 33%;
  }

  .scheme-table__storage {
    margin-left: auto;
    margin-right: 1rem;
    padding-right: 0;
    padding-left: 0;
    order: 2;
    flex: 0 1 5%;
    text-align: center;
  }

  .scheme-table__price {
    padding-right: 1.4rem;
    order: 3;
    flex: 0 1 8rem;
    text-align: right;
  }

  .scheme-table__dropdown {
    order: 4;
    padding-left: 1.4rem;
    flex: 1 1 50%;
  }

  .scheme-table__counter {
    order: 5;
    flex: 1 1 auto;
    text-align: right;
  }

  .pop-up {
    transform: translate(0%, 6px);
  }

  .pop-up:before {
    left: 2%;
  }
}

@media screen and (max-width: 450px) {
  h6,
  .h6 {
    font-size: 12px;
  }

  .triangle {
    display: none;
  }

  .header-nav-info,
  .header-nav-catalog {
    margin-right: 0;
  }

  .header-nav-info__text,
  .header-nav-catalog__text {
    display: none;
  }

  .search-product {
    padding: 2em 1rem 6em 1rem;
  }

  .search-catalog-form .search__input {
    padding: 0.7rem 4.5em 0.5rem 1.7rem;
  }

  .search-catalog-form .search__button {
    width: 40px;
  }

  .company-logo-container__inner {
    justify-content: space-evenly;
  }

  .company-logo__img_diold {
    width: 97px;
    height: 26px;
  }

  .company-logo__img_ermak {
    width: 131.33333333px;
    height: 34.66666667px;
  }

  .company-logo__img_interskol {
    width: 120px;
    height: 32.5px;
  }

  .company-logo__img_resanta {
    width: 91px;
    height: 24px;
  }

  .subscribe-form__input {
    padding: 1.2rem 19rem 1.1rem 2.1rem;
  }

  .subscribe-form__button {
    padding: 0 2.7rem;
  }

  .scheme-table {
    font-size: 10px;
  }

  .scheme-table__number {
    font-size: 11px;
  }

  .scheme-table__article {
    flex: 0 1 9rem;
    max-width: 9rem;
  }
}

@media screen and (min-width: 0 \0) and (max-width: 576px) {
  .search-catalog img,
  .search-scheme img {
    transform: translateY(0%);
  }

  .scheme-table tr {
    display: table-row;
  }

  .scheme-table__price {
    text-align: center;
  }
}